@import url(../../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css);
@media screen and (max-width: 576px) {
  #color-picker {
    width: 20px;
    height: 15px;
  }
  #range {
    width: 80px;
  }
}
@media screen and (min-width: 576px) {
  #color-picker {
    width: 20px;
    height: 15px;
  }
  #range {
    width: 100px;
  }
}
@media screen and (min-width: 768px) {
  #color-picker {
    width: 25px;
    height: 20px;
  }
  #range {
    width: 150px;
  }
}
.container {
  max-height: 95vh;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tool-area {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
.tool-area .tools {
  width: 75%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.tool-area .tools .color {
  display: flex;
  align-items: center;
}

.tools > div {
  min-height: 100%;
  line-height: 50px;
  border-right: 1px solid #bbbbbb;
  padding: 0 10px;
}
.tools > div:hover {
  background-color: #e6e6e6;
}
/*start style for customize input[type=color] */
/* input[type="color"] {
  border: none;
  width: 20px;
  height: 15px;

  background-color: transparent;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 2px solid lightgray;
} */
/*end style for customize input[type=color] */
/* .range {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.rangeinput {
  min-height: 50px;
}
.rangevalue {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  right: 50%;
  border-radius: 50%;
  background-color: black;
  color: white;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
label,
i {
  margin: 0 3px;
  cursor: pointer;
}
.buttons button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.buttons .save {
  background-color: cornflowerblue;
  color: #fff;
}
.buttons .clear:hover {
  background-color: antiquewhite;
}
.draw-area canvas {
  width: 100%;
  height: 450px;
}
.active {
  color: #4a98f7;
} */
